<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="Personal Kanban Board">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/spectrum.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/themes/default-bright.css" id="themeStylesheet">
</head>
<body ng-app="mpk">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-view>
</div>

<script type="text/ng-template" id="kanban.html">

    <header class="navbar navbar-fixed-top" role="navigation" id="headerMenu">
        <div class="navbar-inner">
            <div class="container">
                <!--KANBAN MENU -->
                <div class="navbar-header col-md-3">
                    <span id="kanbanName" class="navbar-brand" ng-model="kanban" ng-hide="editingName">{{kanban.name}}</span>
                </div>
                <!--KANBAN MENU -->
                <div class="col-md-9">
                    <ul class="nav navbar-nav pull-right" id="menu">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Kanban<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a title="Select Theme for the Kanban board" ng-click="kanbanMenu.openSwitchTheme()"><i class="glyphicon glyphicon-picture"></i> {{ 'THEMES' | translate }}</a></li>
                                <li><a title="Open archive" ng-click="kanbanMenu.openArchive(kanban)"><i class="glyphicon glyphicon-folder-open"></i> {{ 'ARCHIVES' | translate }}</a></li>
                                <li><a title="Open archive" ng-click="kanbanMenu.openUsers(kanban)"><i class="glyphicon glyphicon-user"></i> {{ 'USERS' | translate }}</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a title="Help" ng-click="showHelp=true" href=""><i class="glyphicon glyphicon-question-sign"></i> {{ 'HELP' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div id="info" class="nav pull-right" ng-show="showInfo">
                        <span id="error" class="error" ng-show="showError"><a ng-click="showInfo=false;showError=false;errorMessage=''">{{errorMessage}}</a></span>
                        <span id="message" class="">{{infoMessage}}</span>
                        <span id="spinner" class="pull-right" spin="spinConfig" spin-if="showSpinner"></span>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid" id="kanban" ng-controller="KanbanController">

        <div id="columns">

            <div style="width: {{columnWidth}}%;display: inline-block;" ng-repeat="column in kanban.columns" data-columnindex="{{$index}}" id="column{{$index}}">
                <!-- SINGLE COLUMN CONTENT -->
                <div class="column" style="background-color: {{column.settings.color}}">
                    <div class="columnHeader">
                        <a title="Column settings" ng-click="columnSettings(kanban, column)" ng-model="column" ng-hide="editing"><i class="glyphicon glyphicon-wrench"></i></a>
                        <a title="Add card to column" class="pull-right" ng-click="addNewCard(column)" ng-hide="columnLimitsReached(column)"><i class="glyphicon glyphicon-plus"></i></a>
                        <span>{{column.name}} ({{columnLimitsTextFor(column)}})</span>
                    </div>
                    <ul ng-class="sortableClassFor(column)" ui-sortable="{connectWith: '#kanban ul.cards'}" ng-model="column.cards" style="min-height:{{columnHeight}}px;max-height:{{columnHeight}}px;">
                        <li class="card" ng-repeat="card in column.cards" style="background-color: #{{colorFor(card)}};">
                            <!-- SINGLE CARD CONTENT -->
                            <a class="pull-right" ng-click="delete(card, column)"><i class="glyphicon glyphicon-remove"></i></a>
                            <a class="pull-right" ng-click="setOwner(card)"><i class="glyphicon glyphicon-user"></i></a>
                            <a class="pull-right" title="Archive" ng-click="archive(kanban, column, card)" ng-show="isLastColumn(column.name, kanban)"><i class="glyphicon glyphicon-folder-close"></i></a>
                            <a ng-click="openCardDetails(card)"><span>{{card.name}}</span></a>
                            <br/>
                            <br/>
                            <span class="pull-right" ng-show="card.owner"><i class="h5" style="border: solid 4px {{card.owner.color}}; padding: 2px; margin-top: 10px; margin-right: 5px;">{{card.owner.initials}}</i></span>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- COLUMN SETTINGS MODAL -->
        <div ng-controller="ColumnSettingsController">
            <mpk-modal title="COLUMN_SETTINGS" visible="showColumnSettings">
                <form class="noMargin" name="columnSettings" ng-submit="update()">
                    <div class="form-group">
                        <label class="control-label" for="columnName">{{ 'COLUMN_NAME' | translate}}</label>
                        <div class="controls">
                            <div>
                                <input name="columnName" type="text" id="columnName" ng-model="model.columnName" required class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="columnColor">{{ 'COLUMN_COLOR' | translate}}</label>
                        <div class="controls">
                            <div>
                                <div class="col-md-3" style="padding-left: 0px;">
                                    <input type="text" name="colorHex" id="columnColor" value="Theme Default" class="form-control" ng-model="model.color"/>
                                </div>
                                <spectrum-colorpicker ng-model="model.color" options="{allowEmpty: true}" format="'hex'">
                                </spectrum-colorpicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="columnLimit">{{ 'COLUMN_CARD_LIMIT' | translate}}</label>
                        <div class="controls row">
                            <div class="col-md-2">
                                <input name="columnLimit" id="columnLimit" type="number" ng-model="model.limit" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-success" ng-click="addColumn('left')"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'ADD_COLUMN_LEFT' | translate}}</button>
                        <button type="button" class="btn btn-sm btn-success pull-right" ng-click="addColumn('right')">{{ 'ADD_COLUMN_RIGHT' | translate}} <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" ng-hide="model.showWarning" ng-click="delete()">{{ 'DELETE_COLOMN' | translate}}</button>
                        <button type="button" class="btn btn-danger pull-left" ng-show="model.showWarning" ng-click="delete()" ng-disabled="model.deleteDisabled">{{ 'DELETE_COLOMN_CLICK_AGAIN' | translate}} <i class="glyphicon glyphicon-exclamation-sign"></i></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                        <button type="submit" class="btn btn-primary">{{ 'UPDATE' | translate }}</button>
                    </div>
                </form>
            </mpk-modal>
        </div>

        <!-- NEW KANBAN CARD MODAL -->
        <div ng-controller="NewKanbanCardController">
            <mpk-modal title="NEW_CARD" visible="showNewCard">
                <form class="noMargin" name="newCardForm" ng-submit="addNewCard(newCard)">
                    <div class="form-group">
                        <label class="control-label" for="newCardTitle">{{ 'CARD_TITLE' | translate }}</label>
                        <div>
                            <input type="text" id="newCardTitle" placeholder="{{ 'TITLE_ON_CARD' | translate }}" ng-model="newCard.title" required focus-me class="cardInputs form-control" name="cardTitle"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="newCardDetails">{{ 'CARD_DETAILS' | translate }}
                            <small>({{ 'OPTIONAL' | translate }})</small>
                        </label>
                        <div>
                <textarea id="newCardDetails" ng-model="newCard.details" class="cardInputs form-control" rows="7">
                </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ 'CARD_COLOR' | translate }}</label>
                    </div>
                    <div class="form-group">
                        <color-selector options="colorOptions" ng-model="newCard.cardColor" prefix="newCardColor" class="colorSelector" show-hex-code="true"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="cardOwner">{{ 'CARD_OWNER' | translate }}</label>
                        <div class="controls">
                            <div class="input-group">
                                <select ng-model="newCard.owner" id="cardOwner" ng-options="user.name for user in kanban.users">
                                    <option value="">{{ 'NO_OWNER' | translate }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                        <button type="submit" class="btn btn-primary">{{ 'ADD' | translate }}</button>
                    </div>
                </form>
            </mpk-modal>
        </div>

        <!-- EDIT KANBAN CARD MODAL -->
        <div ng-controller="CardController">
            <mpk-modal title="CARD_DETAILS" visible="showCardDetails">
                <form class="noMargin" name="cardDetails">
                    <div class="form-group">
                        <label class="control-label" for="cardTitle">{{ 'CARD_TITLE' | translate }}</label>
                        <div class="controls">
                            <ng-form ng-submit="editingTitle = false">
                                <div class="input-group">
                                    <input name="cardTitle" type="text" id="cardTitle" placeholder="Title on a card" ng-model="card.name" required class="form-control" ng-disabled="!editingTitle" focus-me/>
                  <span class="input-group-btn">
                    <a title="OK" class="btn btn-default" ng-click="editingTitle = false" ng-hide="!editingTitle"><i class="glyphicon glyphicon-ok"></i></a>
                    <a title="Edit card title" class="btn btn-default" ng-click="editingTitle = true" ng-hide="editingTitle"><i class="glyphicon glyphicon-pencil"></i></a>
                  </span>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cardTitle">{{ 'CARD_DETAILS' | translate }}</label>

                        <div class="controls">
                            <div class="input-group">
                                <div class="form-control cardDetails cardInputs" ng-show="!editingDetails" ng-bind-html="card.details|linky|cardDetails"></div>
                                <textarea id="details" ng-model="card.details" class="cardInputs form-control" rows="7" ng-show="editingDetails"></textarea>
                    <span class="input-group-btn">
                      <a title="OK" ng-click="editingDetails = false" ng-hide="!editingDetails" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i></a>
                      <a title="Edit card details" ng-click="editingDetails = true" ng-hide="editingDetails" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ 'CARD_COLOR' | translate }}</label>
                    </div>
                    <div class="form-group">
                        <color-selector options="colorOptions" ng-model="card.color" prefix="editCardColor" class="colorSelector" show-hex-code="true"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="cardOwner">{{ 'CARD_OWNER' | translate }}</label>
                        <div class="controls">
                            <ng-form ng-submit="editingOwner = false">
                                <div class="input-group">
                                    <select ng-model="card.owner" id="cardOwner" ng-options="user.name for user in kanban.users">
                                        <option value="">{{ 'NO_OWNER' | translate }}</option>
                                    </select>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                </div>
            </mpk-modal>
        </div>

        <!-- CHANGE OWNER MODAL -->
        <div ng-controller="CardController">
            <mpk-modal title="SET_NEW_OWNER" visible="changeOwner">
                <form class="noMargin" name="changeUser">
                    <div class="form-group">
                        <label class="control-label" for="cardOwner1">{{ 'CARD_OWNER' | translate }}</label>
                        <div class="controls">
                            <ng-form ng-submit="editingOwner = false">
                                <div class="input-group">
                                    <select ng-model="card.owner" id="cardOwner1" ng-options="user.name for user in kanban.users" focus-me>
                                    </select>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger" ng-click="card.owner = ''">{{ 'REMOVE' | translate }} {{card.owner.name}} {{ 'AS_OWNER' | translate }}</button>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                </div>
            </mpk-modal>
        </div>

    </div>

    <!-- THIS IS THE HELP -->
    <mpk-modal title="{{ 'HELP' | translate }}" visible="showHelp" modal-style="width:90%">
        <p><span class="version">My Team Kanban Version: @version@</span> <a href="http://github.com/johandoornenbal/my-team-kanban" target="blank">http://github.com/johandoornenbal/my-team-kanban</a><br/>
            <small>forked from 'My Personal Kanban' by Greg Gigon<a href="http://greggigon.github.io/my-personal-kanban/" target="blank">http://greggigon.github.io/my-personal-kanban/</a></small>
        </p>
        <p>
            <strong>{{'TEAM_KANBAN' | translate}}</strong><br/>
            <small>
                <strong>{{'CARDS' | translate}}</strong><br/>
                <strong>Kaarten maken</strong><br/>
                Je kunt een nieuwe kaart aan een kolom toevoegen door op de + te klikken rechtsboven in de kolom.<br/>
                Kaarten worden gemaakt met een titel, optioneel een langere beschrijving en optioneel een kaart eigenaar.<br/>
                Ook kun je kaarten een kleur geven om ze te categoriseren als dat gewenst is.<br/>
                Wanneer je een link naar een website in de omschrijving zet wordt deze vanzelf 'aanklikbaar' gemaakt.<br/><br/>
                <strong>Kaarten bewerken</strong><br/>
                Je kunt een kaart openen door op de titel te klikken. Daarna kun je de kaart bewerken.<br/>
                Vergeet niet het vinkje te klikken na de bewerking om de wijzigingen goed door te voeren.<br/><br/>
                <strong>Kaarten verwijderen</strong> doe je door de <strong>X</strong> rechtsboven op de kaart te klikken<br/><br/>
                <strong>Direct een eigenaar toekennen</strong> doe je door de <i class="glyphicon glyphicon-user"></i> te klikken<br/>
                Voorwaarde is wel dat er minimaal een gebruiker is aangemaakt voor de Kanban<br/><br/>
                <strong>Kaarten verplaatsen</strong> doe je door ze te verslepen binnen of tussen de kolommen<br/><br/>
                <strong>Archiveren</strong><br/>
                Alleen in de laatste kolom kun je een kaart archiveren door <i class="glyphicon glyphicon-folder-close"></i> te klikken.<br/>
                Het archief kun je bekijken door in het menu 'Kanban' archief te kiezen. Kaarten kunnen van daaruit worden teruggezet op het bord.<br/>
                <br/><strong>{{'COLUMNS' | translate}}</strong><br/>
                <strong>Bewerken, toevoegen en verwijderen</strong><br/>
                Klik op de <i class="glyphicon glyphicon-wrench"></i> om een kolom te bewerken. De titel, kleur en het maximaal aantal kaarten kun je aanpassen.<br/>
                Weer voorzichtig met het <strong>verwijderen</strong> van een kolom: alle kaarten in de kolom gaan dan ook verloren. Daarom krijg je even bedenktijd voordat je kunt bevestigen.<br/>
                Een nieuwe kolom kun je links of rechts <strong>toevoegen</strong> indien gewenst.<br/>
                <br/><strong>Nieuwe gebruikers kun je toevoegen en verwijderen vanuit het Kanban menu 'Gebruikers'</strong><br/>
                Geef iedere gebruiker initialen en een kleur voor de herkenbaarheid op de kaart - de kaart eigenaar is dan duidelijk voor iedereen.

            </small>
        </p>
    </mpk-modal>

    <!-- SWITCH THEME MODAL -->
    <div ng-controller="SwitchThemeController">
        <mpk-modal title="CHOOSE_KANBAN_THEME" visible="showSwitchTheme">
            <form ng-submit="switchTheme()" name="selectTheme" class="noMargin">
                <div class="form-group">
                    <label class="control-label" for="kanbanTheme">{{ 'THEMES_TO_CHOOSE_FROM' | translate }}</label>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <select class="form-control" name="selectedToOpen" ng-model="model.selectedTheme" required ng-options="t.css as t.name for t in model.themes" id="kanbanTheme">
                        </select>
                    </div>
                    <div class="col-md-5">
                        <img ng-src="img/themes/{{model.selectedTheme}}.jpg" width="250" class="thumbnail" style="border: 1px solid black"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'SWITCH' | translate }}</button>
                </div>
            </form>
        </mpk-modal>
    </div>

    <!-- ARCHIVE MODAL -->
    <div ng-controller="ArchiveController">
        <mpk-modal title="CARDS_ARCHIVE" visible="showArchive" modal-style="width: 90%;">
            <form class="form-horizontal" role="form">
                <div class="form-group has-success">
                    <div class="col-md-offset-9 col-md-3">
                        <input type="text" name="filterByName" placeholder="{{ 'FILTER_BY_CARD_NAME' | translate }}" ng-model="model.filterByName" class="form-control"/>
                    </div>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th style="width: 25%">{{ 'ARCHIVED_ON' | translate }}</th>
                    <th style="width: 33%">{{ 'CARD_TITLE' | translate }}</th>
                    <th style="width: 30%">{{ 'CARD_DETAILS' | translate }}</th>
                    <th style="width: 10%">{{ 'CARD_OWNER' | translate }}</th>
                </tr>
                </thead>
                <tr ng-repeat="archivedCard in model.archived | archiveByCardName:model.filterByName">
                    <td><input type="checkbox" name="selectedCards[]" value="archivedCard.card.name" ng-model="archivedCard.selected"/></td>
                    <td>{{formatDate(archivedCard.archivedOn)}}</td>
                    <td>{{archivedCard.card.name}}</td>
                    <td>{{archivedCard.card.details}}</td>
                    <td>{{archivedCard.card.owner.name}} [{{archivedCard.card.owner.initials}}]</td>
                </tr>
                <tbody>
                </tbody>
            </table>
            <div class="modal-footer">
                <button class="btn btn-warning pull-left" ng-click="unarchiveSelected()">{{ 'UNARCHIVE_SELECTED' | translate }}</button>
                <button class="btn btn-danger pull-left" ng-click="deleteSelected()">{{ 'DELETE_SELECTED' | translate }}</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            </div>
        </mpk-modal>
    </div>


    <!-- MANAGE USERS MODAL -->
    <div ng-controller="KanbanController">
        <mpk-modal visible="showUsers" title="MANAGE_KANBAN_USERS">
            <ul ng-class="">
                <li class="card" ng-repeat="user in kanban.users">
                    <span class="pull-left"><i class="h5" style="border: solid 4px {{user.color}}; padding: 2px; margin-right: 5px;">{{user.initials}}</i></span>
                    <a>{{user.name}}</a>
                    <a class="pull-right" ng-click="deleteUser(user)"><i class="glyphicon glyphicon-remove"></i></a>
                </li>
            </ul>
            <form name="manageUser" class="noMargin" ng-submit="updateUsers()">
                <div class="form-group">
                    <label class="control-label" for="newUser">{{ 'ADD_NEW_USER' | translate }}:</label>
                </div>
                <input type="text" id="newUser" name="newUser" ng-model="newUser.name" required class="form-control" placeholder="{{ 'NAME' | translate }}"/>
                <input type="text" id="newUserInitials" name="newUserInitials" ng-model="newUser.initials" required class="form-control" placeholder="{{ 'INITALS' | translate }}"/>
                <!--<input type="text" id="newUserIcon" name="newUserIcon" ng-model="newUser.icon" class="form-control" placeholder="icon"/>-->
                <input type="text" id="newUserColor" name="newUserColor" ng-model="newUser.color" class="form-control" placeholder="{{ 'COLOR' | translate }}"/>
                <spectrum-colorpicker ng-model="newUser.color" options="{allowEmpty: true}" format="'hex'">
                </spectrum-colorpicker>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">{{ 'READY' | translate }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'ADD_USER' | translate }}</button>
                </div>
            </form>
        </mpk-modal>
    </div>

</script>
<footer></footer>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/spectrum/spectrum.js"></script>
<script src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/spinjs/spin.js"></script>
<script src="bower_components/FileSaver/FileSaver.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="scripts/themes.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/md5.js"></script>
<script src="scripts/rabbit.js"></script>
<script src="scripts/enc-utf16-min.js"></script>

<script src="scripts/model.js"></script>
<script src="scripts/singleKanbanApp.js"></script>
<script src="scripts/services/cloudService.js"></script>
<script src="scripts/services/uuidService.js"></script>
<script src="scripts/services/kanbanRepository.js"></script>
<script src="scripts/services/pollingService.js"></script>
<script src="scripts/services/kanbanManipulator.js"></script>
<script src="scripts/services/themesProvider.js"></script>
<script src="scripts/services/fileService.js"></script>

<script src="scripts/controllers/SingleKanbanApplicationController.js"></script>
<script src="scripts/controllers/NewKanbanCardController.js"></script>
<script src="scripts/controllers/CardController.js"></script>
<script src="scripts/controllers/ColumnSettingsController.js"></script>
<script src="scripts/controllers/NewKanbanCardController.js"></script>
<script src="scripts/controllers/KanbanController.js"></script>
<script src="scripts/controllers/SwitchThemeController.js"></script>
<script src="scripts/controllers/ArchiveController.js"></script>
<script src="scripts/controllers/TranslateController.js"></script>


<script src="scripts/directives/colorSelector.js"></script>
<script src="scripts/directives/focusMe.js"></script>
<script src="scripts/directives/sortable.js"></script>
<script src="scripts/directives/file.js"></script>
<script src="scripts/directives/modal.js"></script>
<script src="scripts/filters/cardDetails.js"></script>
<script src="scripts/filters/archiveByCardName.js"></script>
<script src="scripts/services/cryptoService.js"></script>
<script src="scripts/directives/spin.js"></script>
<!-- endbuild -->
</body>
</html>
